/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about p {
    font-size: 20px;
    color: #919191;
  }

.about-section p {
    font-size: 18px;
    color: #141313;
  }

.section {
    padding: 90px 0;
    overflow: hidden;
  }

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
 }

  /*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content + .content {
    margin-top: 100px;
  }
  
  .details .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #47536e;
  }
  
  .details .content ul {
    list-style: none;
    padding: 0;
  }
  
  .details .content ul li {
    padding-bottom: 10px;
  }
  
  .details .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5777ba;
  }
  
  .details .content p:last-child {
    margin-bottom: 0;
  }