
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url("../img/about-bg.png") top center;
  background-size: cover;
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
  font-family: "Poppins", sans-serif;
}
.hero .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.hero .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #054a85;
  position: relative;
}

.hero .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.hero .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
  border-radius: 50px;
}

.hero .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 60px);
}

.hero .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 25px;
  margin: -1px;
  border-radius: 50px;
  background: #0880e8;
  color: #fff;
  transition: 0.3s;
}

.hero .sidebar .search-form form button:hover {
  background: #2b99f8;
}

.hero .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.hero .sidebar .categories ul li + li {
  padding-top: 10px;
}

.hero .sidebar .categories ul a {
  color: #0665b7;
  transition: 0.3s;
}

.hero .sidebar .categories ul a:hover {
  color: #f6b024;
}

.hero .sidebar .categories ul a span {
  padding-left: 5px;
  color: #8ec8fb;
  font-size: 14px;
}

.hero .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.hero .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.hero .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.hero .sidebar .recent-posts h4 a {
  color: #054a85;
  transition: 0.3s;
}

.hero .sidebar .recent-posts h4 a:hover {
  color: #f6b024;
}

.hero .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #138df7;
}

.hero .sidebar .tags {
  margin-bottom: -10px;
}

.hero .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.hero .sidebar .tags ul li {
  display: inline-block;
}

.hero .sidebar .tags ul a {
  color: #0880e8;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #ddeefe;
  border-radius: 50px;
  display: inline-block;
  transition: 0.3s;
}

.hero .sidebar .tags ul a:hover {
  color: #fff;
  border-color: #f6b024;
  background: #f6b024;
}

.hero .sidebar .tags ul a span {
  padding-left: 5px;
  color: white;
  font-size: 14px;
}


/*--------------------------------------------------------------
# Searforcategory
--------------------------------------------------------------*/
.blog {
  padding: 40px 0;
}

.blog .col-left {
  display: table-cell;
  vertical-align: top;
  width: 295px;
  padding: 2px 26px 0 0;
}

.blog .col-main {
  display: table-cell;
  vertical-align: top;
}

.blog .entry {
  padding: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: 10px 20px 10px 20px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  color: #124265;
  transition: 0.3s;
}
.blog .entry .noads-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .noads-title a {
  color: #124265;
  transition: 0.3s;
}
.blog .entry .entry-title a:hover {
  color: #339999;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #919191;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 14px;
  padding-right: 4px;
}

.blog .entry .entry-meta a {
  color: #919191;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 24px;
  font-size: 15px;
}

.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: #339999;
  color: #fff;
  padding: 6px 20px 8px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 5px;
}

.blog .entry .entry-content .read-more a:hover {
  background: #124265;
}

.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #0880e8;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
  color: #8ec8fb;
  display: inline;
}

.blog .entry .entry-footer a {
  color: #e7f3fe;
  transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
  color: #f6b024;
}

.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog .entry .entry-footer .cats li {
  display: inline-block;
}

.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog .entry .entry-footer .tags li {
  display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.blog .entry .entry-footer .share {
  font-size: 16px;
}

.blog .entry .entry-footer .share i {
  padding-left: 5px;
}

.blog .entry-single {
  margin-bottom: 30px;
}

.blog .entry-single .entry-title {
  font-size: 32px;
  line-height: 38px;
}

.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
  width: 120px;
}

.blog .blog-author h4 {
  margin-left: 140px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 140px;
}

.blog .blog-author .social-links a {
  color: #bfe0fd;
}

.blog .blog-author p {
  margin-left: 140px;
  font-style: italic;
  color: #b7b7b7;
}

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .blog-comments .comment .comment-img {
  width: 50px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
  color: #f6b024;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #0880e8;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  color: #2b99f8;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 20px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #fad386;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #fad386;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #0880e8;
}

.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #f6b024;
}

.blog .blog-pagination {
  color: #5db1f9;
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid white;
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li.active {
  background: white;
}

.blog .blog-pagination li a {
  color: #aaaaaa;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #339999;
  border: 1px solid #bfcfcf;
  border-radius: 5px;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  padding: 20px;
  margin: 0 0 30px 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #054a85;
  position: relative;
}

.blog .sidebar .sidebar-item {
  margin-bottom: -20px;
}

.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 0;
  position: relative;
  border-radius: 5px;
}

.blog .sidebar .search-form form input[type="text"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 60px);
}

.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 25px;
  margin: -1px;
  border-radius: 5px;
  background: #124265;
  color: #fff;
  transition: 0.3s;
}

.blog .sidebar .search-form form button:hover {
  background: #339999;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 0px;
}

.blog .sidebar .categories ul a {
  color: #0665b7;
  transition: 0.3s;
  font-size: 13px;
}

.blog .sidebar .categories ul a:hover {
  color: #f6b024;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #8ec8fb;
  font-size: 13px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  color: #054a85;
  transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #f6b024;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #138df7;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #0880e8;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #ddeefe;
  border-radius: 50px;
  display: inline-block;
  transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  border-color: #f6b024;
  background: #f6b024;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: white;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Ctg Section
--------------------------------------------------------------*/
.ctg {
  background: #339999;
  background-size: cover;
  padding: 60px 0;
}

.ctg h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.ctg p {
  color: #fff;
}


.btn {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 55px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #339999, #03a9f4, #24f6e5, #339999);
  background-size: 400%;
  box-shadow:0 0 20px 12px #D9D9D9;
  border-radius: 30px;
  margin-top: 30px;
  border-radius: 5px
}
 
.btn:hover {
  animation: animate 8s linear infinite;
}
 
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
 
.btn:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #73dfdf, #03a9f4, #43c2c2, #24f6e5);
  background-size: 500%;
  border-radius: 40px;
  opacity: 0;
  color: #124265;
  transition: .5s;
}

.btn:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f8fbfe;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }

  .section-title-new h2 {
    text-align: center;
    padding: 200px 0 0 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
  }